/.svn

/bash_env/nvidia
/bash_env/test/*
!/bash_env/test/_test_bash.sh
!/bash_env/test/_template.sh

/bash_env/doc/*
!/bash_env/doc/from_windows_to_linux.txt
!/bash_env/doc/setup_linux_cpp_dev_env.sh

/batch_env/Companys
/batch_env/template
/batch_env/Test
/batch_env/userSetting
/batch_env/makePortable.bat
/batch_env/TODO.txt
/batch_env/script_skill.txt

/batch_env/Windbg/dumpbin
/batch_env/Windbg/contextMenu/template
/batch_env/Windbg/debugext/*
!/batch_env/Windbg/debugext/x86
/batch_env/Windbg/script/test
/batch_env/Windbg/script/third_part

/batch_env/Windbg/setup/doc
/batch_env/Windbg/sourceIndex
