
# install python prerequisites packages
# pip install -r ${BASH_DIR}/bash_env/app/python/requirements.txt
# the supported format
# version is higher than xxx : pip>=23.1.2
# version is equal to xxx : numpy==1.19.5
# version is not specified : grpcio

# pip>=23.1.2
# wheel>=0.40.0
# setuptools>=68.0.0
# numpy==24.0
numpy
clang
ninja2
# nvidia-ml-py==10.418.84
# grpcio
# grpcio-tools
# requests
